body {
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 100%;
  max-width: 1312px;
  padding-left: 16px;
  padding-right: 16px;
  margin-right: auto;
  margin-left: auto;
}

@media (--xl-viewport) {
  .container {
    width: 1024px;
  }
}

@media (--lg-viewport) {
  .container {
    width: 768px;
  }
}

@media (--md-viewport) {
  .container {
    width: 576px;
    padding-left: 8px;
    padding-right: 8px;
  }
}

@media (--sm-viewport) {
  .container {
    width: 100%;
  }
}
