.button {
  display: inline-block;
  width: max-content; /* либо везде дублировать, либо оставить здесь */
  padding: 16px 50px;
  background-color: var(--color-yellow);
  color: var(--color-black);
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  user-select: none;
}

.button:hover {
  background-color: #edc14a;
  transition: 0.4s;
}

@media (--md-viewport) {
  .button {
    padding: 16px 30px;
    font-size: 16px;
  }
}

@media (--sm-viewport) {
  .button {
    padding: 10px 20px;
    font-size: 14px;
  }
}
