.categories {
   margin-top: 128px;
   margin-bottom: 128px;
}

.categories__list {
   margin-top: 48px;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   justify-content: center;
   gap: 32px;
}

.categories__list__item {
   height: 228px;
   border: 1px solid rgba(110, 118, 100, 0.3);
}

.categories__catagory {
   padding: 31px;
}

.categories__catagory__icon {
   width: 48px;
   height: 48px;
   background-color: var(--color-light-yellow);
   border-radius: 12px;
}

.categories__catagory__title {
   margin-top: 16px;
}

.categories__catagory__description {
   margin-top: 6px;
   color: var(--color-body);
}

.categories__list__item--highlighted {
   background-color: var(--color-yellow);
   border: none;
}

.categories--home .categories__title__wrapper {
   display: flex;
   justify-content: center;
}

.categories--blog .categories__title__wrapper {
   display: flex;
   justify-content: flex-start;
}

.categories--blog {
   margin-top: 64px;
}


@media (--lg-viewport) {
   .categories__list {
      grid-template-columns: repeat(2, 1fr); /* По две карточки на строке */
   }
}

@media (--sm-viewport) {
   .categories__list {
      grid-template-columns: repeat(1, 1fr); /* По две карточки на строке */
   }
}
