.categories__list {
  margin-top: 48px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  gap: 32px;
}

.categories--home .categories__title-wrapper {
  display: flex;
  justify-content: center;
}

.categories--blog .categories__title-wrapper {
  display: flex;
  justify-content: flex-start;
}

@media (--lg-viewport) {
  .categories__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (--sm-viewport) {
  .categories__list {
    grid-template-columns: repeat(1, 1fr);
  }
}
