.cover {
  width: 100%;
  height: 720px;
  background-image: radial-gradient(circle, rgb(0 0 0 / 40%), rgb(0 0 0 / 60%)), url('images/cover.svg');
  background-position: center;
  background-size: cover;
}

.cover__container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
  align-items: center;
}

.cover__content {
  grid-column: 1 / 9;
  padding-top: 128px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: var(--color-white);
}

.cover__tagline {
  color: var(--color-white);
}

.cover__title {
  color: var(--color-white);
}

.cover__author {
  color: var(--color-white);
}

.cover__date {
  color: var(--color-white);
}

.cover__author-name {
  color: var(--color-yellow);
}

.cover__description {
  max-width: 600px;
  color: var(--color-white);
}

@media (--md-viewport) {
  .cover__container {
    grid-template-columns: repeat(6, 1fr);
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .cover__content {
    grid-column: 1 / 7;
  }

  .cover__content.cover__content--blog {
    align-items: center;
    max-width: 100%;
    margin-top: 50px;
    margin-bottom: 0;
  }

  .cover__content__wrapper--blog {
    width: 100%;
    align-items: center;
  }

  .cover.cover--blog {
    height: 660px;
  }

  .cover__image {
    width: 355px;
    height: auto;
  }

  .cover__tagline.cover__tagline--blog,
  .cover__title.cover__title--blog {
    text-align: center;
  }

  .cover__meta.cover__meta--blog {
    text-align: center;
  }

  .cover__author-name.cover__author-name--blog {
    text-align: center;
  }

  .cover__description.cover__description--blog {
    text-align: center;
  }
}

@media (--md-viewport) {
  .cover.cover--blog {
    height: 600px;
  }
}
