.footer {
  background-color: var(--color-black);
}

.footer__container {
  position: relative;
  padding-top: 59px;
}

.footer__subscription-form {
  margin-top: 55px;
}

.footer__contact {
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__address {
  color: rgb(255 255 255 / 70%);
  font-style: normal;
}

@media (--md-viewport) {
  .footer__navbar {
    display: none;
  }

  .footer__container {
    padding-top: 30px;
  }
}
