.invitation {
  display: flex;
  justify-content: center;
}

.invitation-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.invitation__title {
  text-align: center;
}

.invitation__description {
  text-align: center;
  margin-top: 16px;
}

.invitation__button {
  margin-top: 32px;
}
