.navbar {
  color: var(--color-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.navbar__logo {
  max-height: 28px;
}

.navbar__right {
  display: flex;
}

.navbar__hamburger {
  display: none;
}

.navbar .menu--vertical {
  display: flex;
  position: absolute;
  right: 0;
  top: 100%;
}

@media (--md-viewport) {
  .navbar__hamburger {
    display: block;
  }

  .navbar__menu {
    display: none;
  }
}
