.posts {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
}

.posts__post-wrapper {
  grid-column: 1 / 8;
  height: 100%;
}

.posts__post,
.posts__list {
  margin-top: 44px;
}

.posts__list-wrapper {
  grid-column: 8 / 13;
  height: 100%;
}

.posts__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.posts__view-all {
  color: var(--color-purple);
  text-decoration: none;
}

@media (--xl-viewport) {
  .posts {
    grid-template-columns: 1fr;
    align-items: center;
  }

  .posts__post-wrapper,
  .posts__list-wrapper {
    grid-column: unset;
    gap: 20px;
  }

  .posts__header {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
  }

  .posts__title {
    text-align: center;
  }
}
