:root {
  --color-black: #232536;
  --color-white: #fff;
  --color-yellow: #FFD050;
  --color-purple: #592EA9;
  --color-dark-grey: #4C4C4C;
  --color-medium-grey: #6D6E76;
  --color-light-grey: #F4F4F4;
  --color-lavender: #F4F0F8;
  --color-light-yellow: #FBF6EA;
}
